{%- from "rabbitmq/map.jinja" import rabbitmq with context -%}
[
  {rabbit, [
    {tcp_listeners, [{"{{ rabbitmq.config.bind.address }}", {{ rabbitmq.config.bind.port }} }]},
    {tcp_listen_options,
      [binary,
        {packet, raw},
        {reuseaddr, true},
        {%- if rabbitmq.config.tcp_keepalive is defined %}
        {keepalive, {{ rabbitmq.config.tcp_keepalive }}},
        {%- endif %}
        {%- if rabbitmq.config.tcp_backlog is defined %}
        {backlog, {{ rabbitmq.config.tcp_backlog }}},
        {%- endif %}
        {%- if rabbitmq.config.tcp_sndbuf is defined %}
        {sndbuf, {{ rabbitmq.config.tcp_sndbuf }}},
        {%- endif %}
        {%- if rabbitmq.config.tcp_recbuf is defined %}
        {recbuf, {{ rabbitmq.config.tcp_recbuf }}},
        {%- endif %}
        {nodelay, true},
        {linger, {true, 0}},
        {exit_on_close, false}
       ]
    },
    {default_user, <<"{{ rabbitmq.config.default_user }}">>},
    {default_pass, <<"{{ rabbitmq.config.default_pass }}">>}
  ]}

  {%- if rabbitmq.config.kernel is defined and rabbitmq.config.kernel is mapping %}
  ,
  {kernel, [
    {%- for k, v in rabbitmq.config.kernel.iteritems() %}
    {{ '{' ~ k ~ ', ' ~ v ~ '},' }}
    {%- endfor %}
  ]}
  {%- endif %}

  {%- if rabbitmq.admin_enabled and rabbitmq.config.management is defined %}
  ,
  {rabbitmq_management, [
    {listener, [
      {%- if rabbitmq.config.management.ip is defined %}
      {ip, "{{ rabbitmq.config.management.ip }}"},
      {%- endif %}
      {port, {{ rabbitmq.config.management.port }}}
    ]}
  ]}
  {%- endif %}

  {%- if rabbitmq.config.stomp is defined %}
  ,
  {rabbitmq_stomp, [
    {tcp_listeners, [{{ rabbitmq.config.stomp.port }}] }
    {%- if rabbitmq.config.stomp.hide_server_info is defined %}
    ,
    {hide_server_info, {{ rabbitmq.config.stomp.hide_server_info }} }
    {%- endif %}
  ]}
  {%- endif %}
].