{%- from "rabbitmq/map.jinja" import rabbitmq with context -%}
[
  {rabbit, 
    [
      {tcp_listeners, [{"{{ rabbitmq.bind.address }}", {{ rabbitmq.bind.port }} }]},
      {tcp_listen_options,
        [binary,
          {packet, raw},
          {reuseaddr, true},
          {backlog, 128},
          {nodelay, true},
          {exit_on_close, false},
          {keepalive, true}
         ]
      }
  ]},
  {%- if rabbitmq.stomp is defined %}
  {rabbitmq_stomp, 
    [
      {tcp_listeners, {{ rabbitmq.stomp.port }} }
      {%- if rabbitmq.stomp.hide_server_info is defined %}
      ,
      {hide_server_info, {{ rabbitmq.stomp.hide_server_info }} }
      {%- endif %}
  ]}
  {%- endif %}
].